<h2 class="Text-center">About us</h2>
<p class="Text-center">Welcome to Development Match. We are a community of developers, entreprenuers, and investors who are interested in meeting one another and sharing ideas.</p>